# Introduccion a Pandas
------------------------

En este apartado aprenderás todo sobre [pandas](https://pandas.pydata.org/docs/getting_started/index.html), la biblioteca Python más popular para análisis de datos.



Para usar pandas, normalmente comenzarás con la siguiente línea de código.

<code>pip install pandas</code>

In [1]:
# instalacion de libreria
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 42.9 MB/s eta 0:00:0000:010:01
Collecting numpy>=1.22.4
  Downloading numpy-2.0.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.5/19.5 MB 44.5 MB/s eta 0:00:0000:0100:01
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 23.8 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 18.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

Posteiormente haremos la importación de la librería de la siguiente forma

In [ ]:
# se emplea el alias de 'pd' como convención
import pandas as pd

# versión pandas
pd.__version__

### Qué es pandas?

Pandas es una biblioteca de Python que se utiliza para trabajar con conjuntos de datos. Tiene funciones para analizar, limpiar, explorar y manipular datos.

### Qué puede hacer pandas por ti?

- Cargar datos de diferentes recursos
- Búsqueda de una fila o columna en particular
- Realización de calculos estadísticos
- Processamiento de datos
- Combinar datos de múltiples recursos

## 1. Creación y Carga de Datos en Pandas
---------------------------------

Antes de iniciar debemos entender que en pandas hay dos objetos principales: **DataFrame** y **Series**.

**Serie**

Una Serie, es una secuencia de valores de datos similar a una lista de datos.

<code>Series([17,5,7,5,67,84,29,52,12,53,1,10])</code>


**DataFrame**

Por el contrario, un DataFrame lo podemos ver como una tabla de datos la cual esta conformada por filas y columnas. Para pandas cada columna de información viene a ser una serie de datos

La siguiente imagen muestra un DataFrame:

<img src='https://pandas.pydata.org/docs/_images/01_table_dataframe.svg'>

### 1.1 Creación de Data

A partir de datos almacenados en diccionarios o listas es posible crear dataframes

`pd.Dataframe()`

In [2]:
import pandas as pd

# creación de DF a partir de un diccionario
dicx = {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth"
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }

# df -> es una variable de tipo Dataframe
df = pd.DataFrame(dicx)
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [3]:
import pandas as pd
# creacion de df a partir de una lista
lista = [
            ["Rick", "Sanchez", 60],
            ["Morty", "Smith", 14]
        ]

# nombre de columnas
columnas= ["nombre", "apellido", "edad"]
df = pd.DataFrame(lista, columns = columnas)
df

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [4]:
# tipo de dato de dataframe 
type(df)

pandas.core.frame.DataFrame

### 1.2 Carga de Datos en Pandas

`Pandas` puede leer archivos de muchos tipos, csv, json, excel entre otros.

Para leer un archivo siempre iniciamos con : `pd.read_`

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

In [5]:
## Leyendo datos de tipo "csv"
import pandas as pd

# csv(<ruta archivo>, sep=<separador datos>)

df = pd.read_csv('./src/BTC-USD.csv',sep=',')
df.head(2)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-19,19335.027344,19348.416016,19127.687500,19139.535156,19139.535156,22425387184
1,2022-10-20,19138.085938,19315.199219,18971.458984,19053.740234,19053.740234,24493974420

In [6]:
## Leyendo datos de tipo "excel"  
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 6.1 MB/s eta 0:00:0000:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [7]:
path_ = "./src/cripto_currency.xlsx"
# excel(<ruta_archivo>, sheet_name='nombre_hoja_excel')
df_excel = pd.read_excel(path_, sheet_name='USDT-USD')
df_excel

          Date      Open      High       Low     Close  Adj Close       Volume
0   2022-10-19  1.000105  1.000210  1.000036  1.000060   1.000060  32767030077
1   2022-10-20  1.000068  1.000159  0.999964  0.999994   0.999994  32981854458
2   2022-10-21  1.000000  1.000141  0.999928  1.000123   1.000123  41430999058
3   2022-10-22  1.000124  1.000196  1.000017  1.000085   1.000085  24133042918
4   2022-10-23  1.000061  1.000203  1.000024  1.000077   1.000077  31629519444
..         ...       ...       ...       ...       ...        ...          ...
361 2023-10-15  1.000025  1.000548  0.999836  1.000373   1.000373  12496424347
362 2023-10-16  1.000379  1.000932  0.999911  1.000548   1.000548  47707269941
363 2023-10-17  1.000580  1.000840  1.000156  1.000404   1.000404  38333912794
364 2023-10-18  1.000419  1.000792  1.000107  1.000227   1.000227  32819081997
365 2023-10-19  1.000332  1.000424  1.000070  1.000146   1.000146  32145283072

[366 rows x 7 columns]

In [8]:
# Ejercicio: como podríamos leer todas las hojas de excel?
path_ = "./src/cripto_currency.xlsx"
df = pd.read_excel(path_, sheet_name=None)

df.keys()

dict_keys(['BTC-USD', 'DOGE-USD', 'USDT-USD'])

In [9]:
df['DOGE-USD'].head(2) #abrir cierta hoja


df_bitcoin = df['BTC-USD']
df_bitcoin

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-19,19335.027344,19348.416016,19127.687500,19139.535156,19139.535156,22425387184
1,2022-10-20,19138.085938,19315.199219,18971.458984,19053.740234,19053.740234,24493974420
2,2022-10-21,19053.203125,19237.384766,18770.970703,19172.468750,19172.468750,32459287866
3,2022-10-22,19172.380859,19248.068359,19132.244141,19208.189453,19208.189453,16104440957
4,2022-10-23,19207.734375,19646.652344,19124.197266,19567.007813,19567.007813,22128794335
...,...,...,...,...,...,...,...
361,2023-10-15,26858.011719,27289.169922,26817.894531,27159.652344,27159.652344,7098201980
362,2023-10-16,27162.628906,29448.138672,27130.472656,28519.466797,28519.466797,27833876539
363,2023-10-17,28522.097656,28618.751953,28110.185547,28415.748047,28415.748047,14872527508
364,2023-10-18,28413.531250,28889.009766,28174.251953,28328.341797,28328.341797,12724128586
365,2023-10-19,28308.337891,28413.585938,28202.761719,28258.759766,28258.759766,13139652608

In [13]:
# Leyendo datos de una base de datos sqlite
import sqlite3
import pandas as pd

path_bd = "./bitcoin_prices.db"

with sqlite3.connect(path_bd) as conn:
    query = 'SELECT * FROM bitcoin'
    df_bitcoin = pd.read_sql_query(query, conn)
    # db_bit = pd.read_sql_table(table_name='bitcoin', con=conn)
    pass
df_bitcoin.head()

DatabaseError: Execution failed on sql 'SELECT * FROM bitcoin': no such table: bitcoin

In [14]:
#LEYENDO DE POstgresql

!pip install psycopg2 pandas sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 8.6 MB/s eta 0:00:0000:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.9/site-packages (2.2.2)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.32-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 24.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/vscode/.local/lib/python3.9/site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (614 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 614.3/614.3 kB 16.5 MB/s eta 0:00:0000:01
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp39-cp39-linux_x86_64.whl size=477574 sha256=af3dc9c26ea97635c86e8cdf39ee074c291c4724a709937a31ca0bfd4904c045
  Stored in directory: /home/vscode/.cache/pip/wheels/3a/06/25/adb124afd8c8346e45c455f6586f7289cde2b4e339dfbcd9e9
Successfully built psycopg2
Installing collected packages: psycopg2, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 psycopg2-2.9.9 sqlalchemy-2.0.32

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [15]:
import pandas as pd
from sqlalchemy import create_engine

#confirgura los detalles de la conexion
db_user = 'vscode'
db_password = 'password'
db_host = 'localhost'
db_port = 's432'
db_name = 'vscode'

#Crea la cadena de conexion
connection_string = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

#Crea el motor de conexion
engine = create_engine(connection_string)

#Realiza la consulta SQL y lee los datos en un DataFrame de pandas
query = "SELECT * FROM ventas"
df = pd.read_sql(query, engine)

#Muestra los datos
df.head()

ValueError: invalid literal for int() with base 10: 's432'

In [ ]:
#LEER DESDE MONGODB
import pandas as pd
from pymongo import MongoClient
from pymongoarrow.api import Schema
from pymongoarrow.monkey import patch_all
import pyarrow as pass

#Aplica el monkey patch para usar pymongoarrow
patch_all()

#Configura los detalles de conexcion
mongo_uri = mongodb://tu_usuario:tu_contraseña@localhost:27017/tu_base_de_datos"|


with MongoClient(mongo_uri) as client:

    #Selecciona la base de datos y la collecion
    db = client['sample_mflix']
    collection = db['users']

    #Define el esquema para los datos que quieres leer
    #schema = shema({"campo1": pa.string(), "campo2": pa.int64, "campo3": pa.float64})
    #Lee los datos desde MongoDB en un DataFrame de pandas usando pymongoarrow
    df = collection.find_pandas_all({})
pass
#Muestra los datos
print(df)

## 2. Exploración de la Data
-----------------------------

En esta sección exploraremos algunos métodos de los dataframes para obtener mayor información de nuestros datos como: cantidad de registros, visualizar registros de la data, cantidad de columnas, tipos de datos de las columnas, nombre de columnas, etc

In [16]:
# Cargando nuestra data titanic
import pandas as pd
df = pd.read_csv('./src/titanic.csv',sep=',')

Método `shape` nos devuelve el número de filas y columnas

In [17]:
df.shape

(891, 12)

Método `head` retorna los primertos 5 resultados contenidos en el dataframe (df)

Método `tail` retorna los 5 últimos resultados contenidos en el dataframe (df)

In [18]:
# head retorna los primeros 5 resultados del dataframe
df.head(7)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [19]:
# tail -> retorna los últimos 5 resultados del df
df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

`dtypes` nos indica el tipo de dato para cada una de las columnas del df

In [20]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

`columns` nos indica las columnas que conforman el df

In [21]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

`describe` nos brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc de los datos de las columnas posibles

In [22]:
# Describe -> nos brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc 
# de los datos de las columnas posibles
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## 3. Escritura de Datos en Pandas 
----------------------------

`Pandas` ofrece escritura en una gran variedad de formatos como: csv, json, excel entre otros.

Para leer un archivo siempre iniciamos con : `pd.to_`

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

In [23]:
# Cargando nuestra data titanic
import pandas as pd
df = pd.read_csv('./src/titanic.csv',sep=',')

In [24]:
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [29]:
# 3.1 Escritura de archivos formato csv

path_='./output/titanic_palote.csv'
df.to_csv(path_, sep='|', encoding='utf-8', index=False)

OSError: Cannot save file into a non-existent directory: 'output'

In [ ]:
# 3.2 Escritura de archivos formato excel
path_='./output/titanic_excel.xlsx'
df.to_excel(path_, index=False, sheet_name='hoja')

In [ ]:
# 3.2 Escritura sobre sqlite3
import sqlite3

with sqlite3.connect('./output/db_export') as conn:   
    # escribo datos en db
    table_name = 'titanic'
    df_bitcoin.to_sql(table_name, conn, index=False, if_exists='replace')
    pass

In [ ]:
#ESCRIBIENDO SOBRE MONGODB

import pandas as pd
from pymongo import MongoClient
from pymongoarrow.api import Schema
from pymongoarrow.monkey import patch_all
import pyarrow as pass

#Aplica el monkey patch para usar pymongoarrow
patch_all()

#Configura los detalles de conexcion
mongo_uri = mongodb://tu_usuario:tu_contraseña@localhost:27017/tu_base_de_datos"|



records = df.to.dict(orient = "records")

with MongoClient(mongo_uri) as client:

    #Selecciona la base de datos y la collecion
    db = client['sample_mflix']
    collection = db['titanic']

    #Convierte el DataFrame a una lista de diccionarios
    records =df.to.dict(orient="records")

    #Inserta los datos en MongoDB
    collection.insert_many(records)
    pass

#### Ejercicio

Creen datos de un data frame, y escribelos en postgresql y/o csv

In [ ]:
# sudi service postgresql start